.contenedor{
	padding-top: 5px;
	background-color: #C6D7D7;
	
	/*background-color: #C97100;*/

}

#ayuda {
	padding-bottom: 250px;
	margin-top: 80px;
}

div > h5 {
	color: #341E04;
	font-size: 50px;
	font-style: oblique;
	font-family: "Times New Roman", Times, serif;
	text-decoration: underline;
}

#contactanos > div{
	background-color: #DDFAFA;
}

#botonSide {
	display: none !important;
}