#login {
	border: 1px solid ;
	margin-top: 20px;
	padding: 20px;
	font-family: "Times New Roman", Times, serif;
	font-size: 25px;
	background-color: #DDD3D0;
}

body {
	background-color: #EBE7E6;
}

#botonSide {
	display: none!important;
}