#novedades {
	margin-top: 30px;
	
}

#novedades > h3{
	border-right: 3px solid;
}

.apartados > h3{
	border-left: 3px solid;
	padding-left: 20px;
	
}


#novedadesDestacado {
	border: 1px solid;
	padding: 20px;
}

.precio {
	color: red!important;
	font-size: 20px;
}

#dropdownCategoria {
	margin-top: 25px;
	margin-bottom: 10px;
	font-family: "Times New Roman", Times, serif;
}

#dropdownCategoria > a{
	background-color: white;
	color: black;
}

#dropdownCategoria > a:hover{
	border: 2px solid blue;
}

#dropdownSubcategoriaO{
	font-family: "Times New Roman", Times, serif;
}

#dropdownSubcategoriaO > a{
	background-color: #E8E3E2;
	color: black;
}

#dropdownSubcategoriaM{
	font-family: "Times New Roman", Times, serif;
}

#dropdownSubcategoriaM > a{
	background-color: #E8E3E2;
	color: black;
}

#dropdownSubcategoriaP{
	font-family: "Times New Roman", Times, serif;
}

#dropdownSubcategoriaP > a{
	background-color: #E8E3E2;
	color: black;
}


.apartados > h3 {
	font-family: "Times New Roman", Times, serif;
	color: #444;
	font-size: 40px;
	background-color: #F9F9F9;
	margin-bottom: 50px;
}

.encima:hover {
	border: 3px solid #507DB1;
}

.encima > div > a {
	text-decoration: none;
}



/*@media screen and (max-width:640px) {
	.lastItems {
		min-width: 200px;
		max-width: 200px;yyy
		
	}
}*/

.lastItems{
	/*background-color: red;*/
}

.lastItems > a > img {
	max-height: 200px;
	min-height: 200px;
}

.lastItems > a > p {
	color: black;
	text-align: center;
}

/*ESTILOS PARA LA PAGINA DE DETALLE DE UN PRODUCTI*/
.detalleContainer {
	background-color: #EAE4E4;
}

.detalleItem {
	margin:50px;
	font-family: "Times New Roman", Times, serif;
}



#capaImagen {
	background-color: white;
	text-align: center;
}

.imagenItem {
	min-height: 300px;
	max-height: 300px;
	margin-bottom: 20px;
}

.nombreItem {
	color: black;
	font-size: 30px;
}

.precioItem {
	color: black;
	font-size: 30px;

}

.descripcionItem {
	color: black;
}

.masDetalles {
	background-color: #fff;
}

.divListado {
	border: 2px solid;
	margin-top: 10px;
	background-color: #CBEDED;
	padding: 10px;
}

.divListado > #usuario {
	background-color: #46AFED;
}

.divListado > div{
	margin-top: 10px;
	background-color: #fff;
	margin-left: 20px;
}

#buttonShowComments {
	background-color: #2AA4EC;
	padding: 10px;
	width: 100%;
	text-align: center;	 
}

#buttonShowComments > span{
	display: block; 
}


#buscar {
	border: 1px solid blue;
	margin-top: 20px;
	
}





/*ESTILO PARA FOOTER*/

#footer {
	background-color: #4F9CA6;
	margin-top: 100px;
	padding:20px;
}


#footer > div > div > a {
	color: black;
}

#footer > div > p{
	display: none;
}

.infoFooter {
	display: block;
}

@media (max-width: 768px) {
	#footer > div > b{
		display: none;
	}

	#footer > div > p{
		display: block;
	}

	.infoFooter {
		display: none;
	}

	#footer > div > p > a{
		background-color: #3ACEE1;
	}

	.collapse > div.active {
		background-color: #3AB8C8;
	}
	.collapse > div{
		background-color: #3AB8C8;
	}

	.collapse > div > a{
		color: black;
		text-decoration: none;
		text-align: center;
	}
}













